.account-info {
    margin: -10px;
    margin-top: 150px;
    margin-bottom: 150px;
    background-color: #0000006e;
    border-radius: 25px;
    padding: 20px;
}

.account-info h2 {
    margin-bottom: 20px;
    color: white;
    font-size: 2em;
}

.account-details {
    max-width: 70%;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: .1px rgb(176, 176, 176);
    background-color: #00000039;
    padding: 20px;
    border-radius: 25px;
    color: antiquewhite;
}

.account-details p {
    margin: 5px 0;
}

.edit-button {
    display: inline-block;
    padding: 10px 50px;
    background-color: #0000006e;
    color: #fff; 
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    text-align: center;
    margin-top: 15px;
}

.edit-button:hover {
    background-color: #00b35c;
}