.appointment-form {
    width: 90%;
    max-width: 400px;
    padding: 20px;
    padding-right: 40px;
    background-color: #0000006e;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 100px auto;
}

.appointment-form h2 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 20px;
}

.appointment-form label {
    font-size: 14px;
    color: #ffffff;
    display: block;
    margin-bottom: 5px;
}

.appointment-form input,
.appointment-form textarea,
.appointment-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.appointment-form input:focus,
.appointment-form textarea:focus,
.appointment-form select:focus {
    border-color: #007BFF;
}

.appointment-form button {
    width: 100%;
    padding: 12px;
    background-color: #ff0077;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.appointment-form button:hover {
    background-color: #b3005c;
}

.appointment-form #response-message {
    text-align: center;
    color: #ffffff;
    margin-bottom: 15px;
}
