.registration-form {
    width: 90%;
    max-width: 400px;
    padding: 20px;
    padding-right: 40px;
    background-color: #0000006e;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 100px auto;
}

.registration-form h2 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 20px;
}

.registration-form label {
    font-size: 14px;
    color: #ffffff;
    display: block;
    margin-bottom: 5px;
}

.registration-form input,
.registration-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.registration-form input:focus,
.registration-form select:focus {
    border-color: #007BFF;
}

.registration-form button {
    width: 100%;
    padding: 12px;
    background-color: #ff0077;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.registration-form button:hover {
    background-color: #b3005c;
}

.registration-form .login-link {
    text-align: center;
    margin-top: 15px;
    color: rgb(255, 255, 255);
}

.registration-form .login-link a {
    text-decoration: none;
    font-size: 14px;
    color: #007BFF;
    font-weight: bold;
}

.registration-form .login-link a:hover {
    text-decoration: underline;
}