.login-form-container {
    width: 90%;
    max-width: 400px;
    padding: 20px;
    background: linear-gradient(45deg, #ffffff, #87ceeb);
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    margin: 100px auto;
}

.login-form-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.login-form-container label {
    font-size: 14px;
    color: #555;
    display: block;
    margin-bottom: 5px;
}

.login-form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    transition: box-shadow 0.3s;
}

.login-form-container input:focus {
    box-shadow: 0 0 8px rgba(255, 99, 71, 0.5);
}

.login-form-container button {
    width: 100%;
    padding: 12px;
    background-color: #ff6347;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s;
}

.login-form-container button:hover {
    background-color: rgba(255, 99, 71, 0.2);
    box-shadow: 0 4px 8px rgba(255, 99, 71, 0.3);
}

.login-form-container button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 99, 71, 0.3);
    border-radius: 10px;
    z-index: -1;
    transform: scale(0);
    transition: transform 0.3s ease;
}

.login-form-container button:hover::before {
    transform: scale(1);
}

.login-form-container .register-link {
    text-align: center;
    margin-top: 20px;
}

.login-form-container .register-link a {
    text-decoration: none;
    font-size: 14px;
    color: #ff6347;
    font-weight: bold;
}

.login-form-container .register-link a:hover {
    text-decoration: underline;
}
