.login-form-container {
    width: 90%;
    max-width: 400px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 100px auto;
}

.login-form-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 20px;
}

.login-form-container label {
    font-size: 14px;
    color: #555;
    display: block;
    margin-bottom: 5px;
}

.login-form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.login-form-container input:focus {
    border-color: #007BFF;
}

.login-form-container button {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form-container button:hover {
    background-color: #0056b3;
}

.login-form-container .register-link {
    text-align: center;
    margin-top: 15px;
}

.login-form-container .register-link a {
    text-decoration: none;
    font-size: 14px;
    color: #007BFF;
    font-weight: bold;
}

.login-form-container .register-link a:hover {
    text-decoration: underline;
}

